.landing-div {
    background-color: #333333;
    display: flex;
    flex-direction: column;

    .description-box {
        margin: 40px 48px 0 48px;
        display: flex;
        flex-direction: row;
        align-items: center;

            img {
                // position: absolute;
                margin-left: 40px;
                width: 300px;

                }
            
            .description {
                margin: 48px 0 0 48px;
                line-height: 1.6;

                p {
                    color: white;
                }
            }
    }

    .video-box {
        display: flex;
        flex-direction: column; 
        margin: 56px;

        h2 {
            color: white;
            font-size: 2.4rem;
            font-weight: bold;
            text-align: center;
        }

        .video {
        margin: 24px auto 80px auto;
        }

    }
}